<section id="hero">
  <nav class="me-4 ms-4 pt-3 mb-3 navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="logo" src="/images/logo.svg" alt="" />
        strata One</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span
          class="menu"
          onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
          aria-label="Main Menu"
        >
          <svg width="30" height="30" viewBox="0 0 100 100">
            <path
              class="line line1"
              d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
            />
            <path class="line line2" d="M 20,50 H 80" />
            <path
              class="line line3"
              d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
            />
          </svg>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
          <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link ms-5" href="#hero">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link ms-5" href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-5" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-5" href="#what-to-stake">Guide</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-5" href="#list-of-assets">Network</a>
            </li>

            <li class="nav-item">
              <a class="nav-link ms-5" href="#got-issues">Contact</a>
            </li>
            <li class="nav-item ms-lg-auto">
              <button class="nav-link btn btn-secondary btn-style-3" href="#">
                STAKE NOW
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="container center">
      <h1>
        We make crypto staking <br />
        <span>clear and simple</span>
      </h1>
      <p class="m-0"  data-aos="zoom-in">
        Do more with your idle crypto , secure proof of stake newtork by
        delegating your coins to Strata One and earn reward.
        <br />
        to every trader at every level.
      </p>
      <button class="btn btn-secondary btn-style">Auto Compound</button>
      <p class="m-0"><a href="#about-us"><img src="/images/cursor.png" class="cursor" alt="" /></a></p>
    </div>
  </div>
</section>
<section id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-2 order-lg-1">
        <div class="container">
          <img src="/images/statra-one.png" class="img-fluid">
        </div>
      </div>
      <div class="col-md-7 col-md-6 order-1 order-lg-2">
        <div class="container">
          <h2>What is Strata One?</h2>
          <p data-aos="zoom-in">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Culpa voluptatibus animi nemo officia sint ab itaque ducimus atque 
            aliquid, earum quo natus eius architecto corrupti!
          </p>
          <p data-aos="zoom-in">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi modi asperiores vitae nesciunt 
            dignissimos ipsam, ut quae debitis blanditiis hic facilis voluptas dolores consectetur iste!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="list-of-assets">
  <div class="container">
          <div class="row">
            <div class="col-md-3 tiny-space" data-aos="zoom-in">
              <div class="assets p-0 m-0">
                <div class="container p-0">
                  <div class="row p-0 m-0">
                    <div class="col-6 list-pd clipped-bg" >
                        <p class="">FINDORA</p>
                    </div>
                    <div class="col-6 list-pd">
                      <p><span><span id="findora-apy">11.7</span>% APY</span></p>
                    </div>
                  </div>
                </div>
                <div class="list-details">
                  <p class="price"><span class="opacity">PRICE: </span> <span class="modal-span-color">$<%= dataFindoraPrice %></span></p>
                  <p class="total-deligation"><span class="opacity">TOTAL DELIGATION: </span><span class="modal-span-color" id="findora-total-delegation">50,000,000 </span></p>
                  <p class="lock-up"><span class="opacity">LOCK UP:</span> <span class="modal-span-color" id="findora-lockup">20</span> days</p>
                  <p class="fee"><span class="opacity">FEE: </span><span class="modal-span-color">0.98%</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 tiny-space" data-aos="zoom-in">
              <div class="assets p-0 m-0">
                <div class="container p-0">
                  <div class="row p-0 m-0">
                    <div class="col-6 list-pd clipped-bg" >
                        <p class="">PERSISTENCE</p>
                    </div>
                    <div class="col-6 list-pd">
                      <p><span id="persistence-apy">11.7</span>% APY</p>
                    </div>
                  </div>
                </div>
                <div class="list-details">
                  <p class="price"><span class="opacity">PRICE: </span> <span class="modal-span-color">$<%= dataPersistencePrice %></span></p>
                  <p class="total-deligation"><span class="opacity">TOTAL DELIGATION: </span><span class="modal-span-color" id="persistence-total-delegation">50,000,000 </span></p>
                  <p class="lock-up"><span class="opacity">LOCK UP:</span> <span class="modal-span-color" id="persistence-lockup">20</span> days</p>
                  <p class="fee"><span class="opacity">FEE: </span><span class="modal-span-color">0.98%</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 tiny-space" data-aos="zoom-in">
              <div class="assets p-0 m-0">
                <div class="container p-0">
                  <div class="row p-0 m-0">
                    <div class="col-6 list-pd clipped-bg" >
                        <p class="">OASIS</p>
                    </div>
                    <div class="col-6 list-pd">
                      <p><span id="oasis-apy">11.7</span>% APY</p>
                    </div>
                  </div>
                </div>
                <div class="list-details">
                  <p class="price"><span class="opacity">PRICE: </span> <span class="modal-span-color">$<%= dataOasisPrice %></span></p>
                  <p class="total-deligation"><span class="opacity">TOTAL DELIGATION: </span><span class="modal-span-color" id="oasis-total-delegation">50,000,000 </span></p>
                  <p class="lock-up"><span class="opacity">LOCK UP:</span> <span class="modal-span-color" id="oasis-lockup">20</span> days</p>
                  <p class="fee"><span class="opacity">FEE: </span><span class="modal-span-color">0.98%</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 tiny-space" data-aos="zoom-in">
              <div class="assets p-0 m-0">
                <div class="container p-0">
                  <div class="row p-0 m-0">
                    <div class="col-6 list-pd clipped-bg" >
                        <p class="">VELAS</p>
                    </div>
                    <div class="col-6 list-pd">
                      <p><span id="velas-apy">11.7</span>% APY</p>
                    </div>
                  </div>
                </div>
                <div class="list-details">
                  <p class="price"><span class="opacity">PRICE: </span> <span class="modal-span-color">$<%= dataVelasPrice %></span></p>
                  <p class="total-deligation"><span class="opacity">TOTAL DELIGATION: </span><span class="modal-span-color" id="velas-total-delegation">50,000,000 </span></p>
                  <p class="lock-up"><span class="opacity">LOCK UP:</span> <span><span class="modal-span-color" id="velas-lockup">20</span> days</span></p>
                  <p class="fee"><span class="opacity">FEE: </span><span class="modal-span-color">0.98%</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 tiny-space" data-aos="zoom-in">
              <div class="assets p-0 m-0">
                <div class="container p-0">
                  <div class="row p-0 m-0">
                    <div class="col-6 list-pd clipped-bg" >
                        <p class="">HARMONY</p>
                    </div>
                    <div class="col-6 list-pd">
                      <p> <span><span id="harmony-apy">11.7</span>% APY</span></p>
                    </div>
                  </div>
                </div>
                <div class="list-details">
                  <p class="price"><span class="opacity harmony-price">PRICE: </span> <span class="modal-span-color">$<%= dataHarmonyPrice %></span></p>
                  <p class="total-deligation"><span class="opacity">TOTAL DELIGATION: </span><span class="modal-span-color" id="harmony-total-delegation">50,000,000 </span></p>
                  <p class="lock-up"><span class="opacity">LOCK UP:</span> <span class="modal-span-color" id="harmony-lockup">20 </span> days</p>
                  <p class="fee"><span class="opacity harmony-fee">FEE: </span><span class="modal-span-color">0.98%</span></p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>
<section id="statistics">
  <div class="container">
    <div class="row center">
      <div class="col-md-4">
        <p class="amount-deligated" data-aos="zoom-in"> $<span id="amount-deligated">38458255</span></p>
        <p class="">Amount of delegated funds</p>
      </div>
      <div class="col-md-4">
        <p class="amount-deligated" data-aos="zoom-in">$<span id="paid-reward">38458255</span></p>
        <p class="">Total rewards paid</p>
      </div>
      <div class="col-md-4">
        <p class="amount-deligated" data-aos="zoom-in">$<span id="delegates">38458255</span></p>
        <p class="">Number of delegates</p>
      </div>
    </div>
  </div>
</section>
<section id="deposit-to-earn">
  <div class="deposit-to-earn">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>
            Deposit Crypto to <br />
            Earn more
          </h2>
          <p data-aos="zoom-in">
            Join our staking pool and start earning on our <br />
            deposited crypto tokens.
          </p>
        </div>
        <div class="col-md-4 p-0">
          <div class="container p-0">
            <img src="/images/deposit.gif" class="img-fluid p-lg-5" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="tendermint-delegate">
  <div class="bg-tendermint">
    <div class="container center">
      <h3>TENDERMINT DELEGATES TO</h3>
      <h2 data-aos="zoom-in">STRATA VALIDATOR!</h2>
      <div class="row">
        <div class="col-6">
          <div class="container-fluid right">
            <button class="btn btn-secondary btn-style-2" data-aos="zoom-in">See tweet</button>
          </div>
        </div>
        <div class="col-6">
          <div class="container-fluid left">
            <button class="btn btn-secondary btn-style-2" data-aos="zoom-in">
              Read whitepaper
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="what-to-stake" class="d-none">
  <div class="stake-contain">
    <div class="stake-container">
      <div class="what-to-stake-title">
        <h2 class="h2-1">WANT TO STAKE</h2>
      </div>
      <div class="container">
        <h2 class="h2-2">A LARGE AMOUNT?</h2>
        <h2 class="h2-3" data-aos="zoom-in">We assist in purchasing tokens to stake!</h2>
        <div class="container center talk">
          <button class="btn btn-secondary btn-style-4">
            TALK TO OUR TOKEN ACQUISITION MANAGER
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="stake-padding"></div>
</section>
<section id="what-strata-one-can-do">
  <div class="container">
    <h2>
      What Strata One <br />
      can do
    </h2>
    <div class="row can-do-padding">
      <div class="col-md-4">
        <div class="can-do">
          <h3>ROCK SOLID</h3>
          <p data-aos="zoom-in">
            Our infrastructure has been running with no incidence and has
            performed admirably in terms of staking speed. We continue to
            improve our backend performance to be one of the most technically
            proficient validators around.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="can-do">
          <h3>SAFE AND SECURE</h3>
          <p data-aos="zoom-in">
            Our cloud team designed, built and maintained several world class
            blockchain projects, hence Cosmic Validator is confident of its
            technical skills to maintain a solid and robust infrastructure for
            our validator nodes.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="can-do">
          <h3>REAL EXPERTS</h3>
          <p data-aos="zoom-in">
            Our team are the most well-known and passionate figures in their
            fields. With our combined perspective and knowledge, we identify the
            best networks to stake in. With us, you stake in the most optimal
            opportunity.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="what-is-staking">
  <div class="what-is-staking">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>
            WHAT IS <br />
            STAKING?
          </h2>
          <p data-aos="zoom-in">
            Most of the newer blockchain networks are being secured by a concept
            called Proof of Stake (PoS) instead of Proof of Work (PoW) wherein
            people stake their tokens in a validator. Once staked, you get part
            of the rewards the validator gets when it validates transactions in
            that blockchain network essentially increasing your tokens. This is
            a more energy efficient alternative to how Bitcoin is being secured
            and is found in newer projects like Cosmos.
          </p>
          <button class="btn btn-secondary btn-style-5">
            Stake with strata one
          </button>
        </div>
        <div class="col-md-4 p-0">
          <div class="containerm pl-0 pt-5">
            <img src="/images/staking.gif" class="img-fluid pt-5" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="why-stake-with-strata-one">
  <div class="stake-with-bg">
    <div class="stake-with-top-space"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 order-2 order-lg-1">
          <div class="reason-list container">
            <ul>
              <li>Secured</li>
              <li>Transparency</li>
              <li>Automatic payouts</li>
              <li>Secured</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 order-1 order-lg-2">
          <div class="container">
            <h3>WHY STAKE WITH</h3>
            <h2>Strata One</h2>
            <p data-aos="zoom-in">
              Strata One is an independent validator stakingservice that is
              unattached to any major entity in crypto, we are as indie as it
              gets. This means we further decentralize the networks we support.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="stake-with-bottom-space"></div>
  </div>
</section>
<section id="profit-calculator" class="d-none">
  <div class="container">
  </div>
</section>
<section id="our-expert">
  <div class="container">
    <h2>OUR EXPERTS</h2>
    <div class="container">
      <div class="row main-row">
        <div class="col-md-5">
          <p data-aos="zoom-in">
            Our team are mainstays and passionate players in various crypto
            communities and armed with intimate knowledge of how to operate a
            great validator staking service. You won't find a more hardcore team
            than us.
          </p>
        </div>
        <div class="col-md-7">
          <div class="row row-1" data-aos="zoom-in">
            <div class="col-6 col-md-3">
              <div class="img"></div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img"></div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img"></div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img"></div>
            </div>
          </div>
          <div class="row row-2" data-aos="zoom-in">
            <div class="col-6 col-md-3">
              <div class="img"></div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img"></div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img"></div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="got-issues">
  <div class="got-issues">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>
            Got issues? We're<br />
            here to help
          </h2>
          <p data-aos="zoom-in">
            Whenever there's a problem, <br />
            don't hesitate to contact our <br />
            friendly support team!
          </p>
              <div class="container the-contact-form">
                <form
                  action=""
                  method=""
                >
                  <div class="mb-3">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                      placeholder="Your Email Address"
                    />
                  </div>
                  <div class="mb-3">
                    <textarea
                      type="text"
                      id="message"
                      name="message"
                      class="form-control"
                      rows="4"
                      placeholder="Your Message"
                    ></textarea>
                    <input type="text" name="_honey" class="d-none" />
                    <input
                      type="hidden"
                      name="_subject"
                      value="New Info Request!"
                    />
                    <input
                      type="hidden"
                      name="_next"
                      value="http://localhost:3000/"
                    />
                  </div>
                  <button
                    type="submit"
                    class="btn btn-secondary btn-style-2 mb-3 form-control"
                  >
                    SEND MESSAGE
                  </button>
                </form>
              </div>  
        </div>
        <div class="col-md-4 p-0 center">
          <div class="container p-0">
            <img src="/images/call.gif" class="img-fluid vertical-align-middle" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="got-issues-space">
    <div class="got-space"></div>
  </div>
</section>
<section id="footer">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Product</h3>
          <ul>
            <li>Autocapture</li>
            <li>Data Governance</li>
            <li>Virtual Events</li>
            <li>Virtual Users</li>
            <li>Behavioral Analytics</li>
            <li>Connect</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Explore</h3>
          <ul>
            <li>Resources</li>
            <li>Blog</li>
            <li>Documents</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Community</h3>
          <ul>
            <li>Community Central</li>
            <li>Support</li>
            <li>Help</li>
            <li>My info</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Company</h3>
          <ul>
            <li>About us</li>
            <li>Partners</li>
            <li>Customers</li>
            <li>Contact us</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container center">
      <h2>
        <span class="logo-space"><img src="/images/strata.svg" alt="" /></span>
        strata One
      </h2>
      <p data-aos="zoom-in">© 2022 Strata One . All rights reserved.</p>
      <p>
        <i class="bi bi-facebook"></i><i class="bi bi-twitter"></i
        ><i class="bi bi-instagram"></i><i class="bi bi-cursor-fill"></i>
      </p>
    </div>
  </div>
</section>